html,body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.relative { position:relative; left: 5px; width: 1200px}
.col1 { position:absolute; top:0; left:0; width:700px;}
.col2 { position:absolute; top:0; right:0; width:500px;}

.col3 { position:absolute; top:200px; left:0; width:500px;}
.col4 { position:absolute; top:200px; left:555px; right:0; width:580px;}

.col5 { position:absolute; left:0; width:167px;}
.col6 { position:relative; bottom: 30px; left:176px; width:372px; height: 263px;}

.col7 { position: absolute; bottom: 5px; left:0; width:430px; height: 150px}
.col8 { position: absolute; bottom: 5px; left:440px; right:0; width:811px; height: 150px}

.rcorner {
  position: relative;
  top: 15px;
}

#rcorners {
  border-radius: 15px;
  background-color: #d2e8f2;
  border: 2px solid #adb7c0;
  padding: 20px;
  width: 500px;
  height: 50px;
}

h1 {
  font-weight: 800;
  font-size: 70px;
  font-family: 'Rowdies', cursive;
  text-align: center;
  color: #502a77;
}

p {
  font-family: 'Nunito', sans-serif;
}

td {
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  color: #b8b5a3;
}

div.a{
  line-height: 0.3;
  position: relative;
  bottom: 15px;
}

div.b{
  line-height: 0;
  position: relative;
  top: 50px;
  left: 20px;
}

sup {
  font-size: 52px;
}

div.c {
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
}

div.d {
  color: #ffffff;
  font-size: 18px;
  line-height: 4px;
}



#box1 {
  background-color: #ef7a82;

}

#box2 {
  background-color: #b59ac4;
}

#box3 {
  background-color: #8dcac3;
}
